@{
    ViewData["Title"] = "Wishes Page";
}
<style>
    .wishes-container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .table-panel {
        flex-grow: 3;
    }

    .info-panel {
        width: 350px;
        flex-grow: 1;
        padding: 5px;
        /* background-color: lightgray; */
    }

    .info-panel-inner {
        /* visibility: hidden; */
    }

    .list-group-item {
        background-color: transparent;
    }

    .button-panel {
        margin: 5px 0 5px 0;
        text-align: right;
    }

    .button-width-100 {
        width: 100px;
    }

    .selected {
        background-color: #d6e8d5;
    }

</style>
<div class="wishes-container mt-4">
    <div class="table-panel">
        <h6 class="mb-3 text-muted">Active wishes</h6>
        <div>
            <table class="table table-hover" id="activeWishesTableId">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>FulFilled</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br />
        <div class="button-panel">
            <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Wishes" asp-action="Create">Create new wish</a>
        </div>
        <br />
        <br />
        <br />
        <h6 class="mb-3 text-muted">FulFilled wishes</h6>
        <div>
            <table class="table table-hover" id="fulFilledWishesTableId">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>FulFilled</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       @*  <br />
        <br />
        <br />
        <h6 class="mb-3 text-muted">Test table</h6>
        <div>
            <table class="table table-hover" id="testTableId">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>FulFilled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name1</th>
                        <th>Description1</th>
                        <th>Created1</th>
                        <th>FulFilled1</th>
                    </tr>
                    <tr>
                        <th>Name2</th>
                        <th>Description2</th>
                        <th>Created2</th>
                        <th>FulFilled2</th>
                    </tr>
                </tbody>
            </table>
        </div> *@
    </div>
    
    <!-- Off canvas -->
    <div class="offcanvas offcanvas-end bg-custom-gradient" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel"><i class="bi bi-info-square"> </i>Info Panel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="info-panel border">
                @* <div class="col-10 mb-1 p-3 small" id="infoPanelNote">Select a wish from the tables on the left</div> *@
                <div class="info-panel-inner" id="infoPanelInner">
                    <div class="list-group list-group-flush border-bottom scrollarea">
                        <div class="list-group-item py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Name</strong>
                                <i class="bi bi-chat-left-dots"></i>
                            </div>
                            <div class="col-10 mb-1 small" id="wishName"></div>
                        </div>
                        <div class="list-group-item py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Description</strong>
                                <i class="bi bi-chat-left-text"></i>
                            </div>
                            <div class="col-10 mb-1 small" id="wishDescription">Description</div>
                        </div>
                        <div class="list-group-item py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Link</strong>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                            <a id="wishLink" href="" target="_blank"></a>
                        </div>
                        <div class="list-group-item py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Date of Creation</strong>
                                <i class="bi bi-calendar-event"></i>
                            </div>
                            <div class="col-10 mb-1 small" id="wishCreated"></div>

                        </div>
                        <div class="list-group-item py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Is FulFilled?</strong>
                                <i class="bi bi-check-square"></i>
                            </div>
                            <div class="col-10 mb-1 small" id="wishFulFilled"></div>
                        </div>
                        @* <div class="list-group-item py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">Id</strong>
                                <i class="bi bi-check-square"></i>
                            </div>
                            <div class="col-10 mb-1 small" id="wishId" name="Id"></div>
                        </div> *@
                    </div>
                    <div class="visually-hidden" id="wishId" name="Id"></div>
                    <div class="button-panel">
                        <button type="button" class="btn btn-success btn-sm button-width-100">Edit wish</button>
                    </div>
                    <div class="button-panel">
                        <button type="button" class="btn btn-secondary btn-sm button-width-100" id="deleteWishButton">Delete wish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteWishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Do you really want to delete a wish?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="wishNameToDelete"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteWishConfirmButton">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script>
        let activeWishesTable = $('#activeWishesTableId').DataTable({
            info: true,
            serverSide: false,
            searching: false,
            paging: false,
            sorting: false,
            select: {
                style: 'single'
            },

            ajax: {
                url: "@Url.Action("ActiveWishesHandler")",
                method: 'POST',
                data: null
            },

            columns: [
                { data: 'id'},
                { data: 'name'},
                { data: 'description' },
                { data: 'created' },
                { data: 'fulFilled' },
            ],

            createdRow: function(nRow, data) {
                for (var i = 0; i < activeWishesTable.columns().header().length; i++) {
                    $('td', nRow).eq(i).css('cursor', 'pointer');

                    $('td', nRow).eq(i).on('click', function (e) {
                        $('#wishName').text(data.name);
                        $('#wishDescription').text(data.description);
                        $('#wishLink').text(data.link);
                        $('#wishLink').attr("href", data.link)
                        $('#wishCreated').text(data.created);
                        $('#wishFulFilled').text(data.fulFilled);
                        $('#wishId').text(data.id);
                    });
                }
            }
        });

        activeWishesTable.on('click', 'tbody tr', tableClick);

        let fulFilledWishesTable = $('#fulFilledWishesTableId').DataTable({
            info: true,
            serverSide: false,
            searching: false,
            paging: false,
            sorting: false,

            ajax: {
                url: "@Url.Action("FulFilledWishesHandler")",
                method: 'POST',
                data: null
            },

            columns: [
                { data: 'name' },
                { data: 'description' },
                { data: 'created' },
                { data: 'fulFilled' },
            ],

            createdRow: function (nRow, data) {
                for (var i = 0; i < fulFilledWishesTable.columns().header().length; i++) {
                    $('td', nRow).eq(i).css('cursor', 'pointer');

                    $('td', nRow).eq(i).on('click', function (e) {
                        $('#wishName').text(data.name);
                        $('#wishDescription').text(data.description);
                        $('#wishLink').text(data.link);
                        $('#wishCreated').text(data.created);
                        $('#wishFulFilled').text(data.fulFilled);
                        $('#wishId').text(data.id);
                    });
                }
            }
        });

        fulFilledWishesTable.on('click', 'tbody tr', tableClick);

        function tableClick(e) {
            var myOffcanvas = document.getElementById('offcanvasRight');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();
            // let classList = e.currentTarget.classList;

            // if (classList.contains('selected')) {
            //     classList.remove('selected');
            //     $('#infoPanelInner').css('visibility', 'hidden');
            //     $('#infoPanelNote').css('display', 'block');
            //     $('#offcanvasRight').hide();
            // }
            // else {
            //     activeWishesTable.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
            //     fulFilledWishesTable.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
            //     classList.add('selected');
            //     $('#infoPanelInner').css('visibility', 'visible');
            //     $('#infoPanelNote').css('display', 'none');
            // }
        }

        $('#deleteWishButton').on('click', function (e) {
            $('#wishNameToDelete').text($('#wishName').text());
            const deleteWishModal = new bootstrap.Modal('#deleteWishModal', {});
            deleteWishModal.show();
        })

        $('#deleteWishConfirmButton').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteWish", "Wishes")',
                data: ({ id: $('#wishId').text() }),
                success: function (response) {
                    window.location.href = "/Wishes";
                },
                error: function (response) {
                    var err = JSON.parse(response.responseText);
                    alert(err.description);
                }
            })
        })
    </script>

@*     <script>
        let testTable = $('#testTableId').DataTable({
            info: true,
            serverSide: false,
            searching: false,
            paging: false,
            sorting: false,
            Selection: true,
        });

        testTable.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;

            if (classList.contains('selected')) {
                classList.remove('selected');
            }
            else {
                testTable.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                classList.add('selected');
            }
        });
    </script> *@
}

